/* Estilos generales */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    width: 100%;
}

.gray {
    color: #8d8d8d;
}

.white {
    color: #FFF;
}

.menu-icon {
    height: 15px;
}
.p-2 {
    padding: 2vmin;
}

.p-3 {
    padding: 4vmin;
}

.p-t-3 {
    padding-top: 4vmin;
}

.m-t-5{
    margin-top: 3vmin;
}

.m-t-8 {
    margin-top: 8vmin;
}

.p-5 {
    padding: 5vmin;
}

.p-tb-s {
    padding: 0.5rem 0;
}

.p-t-5 {
    padding-top: 5vmin;
}

.p-t-10 {
    padding-top: 10vmin;
}

a {
    text-decoration: none;
    color: #2e47ae;
}

.btn:hover {
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Utilidades */
.container {
    max-width: 1080px;
    width: 80%;
    margin: auto;
}

.container-2 {
    max-width: 1080px;
    width: 70%;
    margin: auto;
}

.min-container {
    max-width: 1080px;
    width: 78%;
    /* margin: auto; */
}

@media (max-width: 3000px) {
    .container {
        /* max-width: 00px; */
        width: 100%;
    }
    .container-2 {
        padding-left: 15vmin;
        max-width: 1300px;
    }
}
@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .min-container {
        width: 110%;
        margin: auto;
    }

    .min-container p {
        font-size: 3vmin;
    }
}

.accordion-item,
.accordion-button {
    background: transparent;
}

.accordion-button {
    font-family: 'ChronicaBook';
    font-size: 18px;
    padding-left: 8vmin;
}

.accordion-body {
    font-family: 'ChronicaBook';
    font-size: 16px;
    line-height: 23px;
    padding-left: 8vmin;
}

.accordion-button:active {
    background: transparent;
}

.bar-menu {
    position: fixed;
    z-index: 9000;
    top: 0;
    padding: 0;
    width: 100%;
    --background: #E6EAF5;
    background: var(--background);
    transition: all 0.8s ease-out;
}

.bar-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    
    padding-left: 0;
    --text: #2e47ae;
    color: var(--text);
}

.bar-menu-container-2 {
    transition: all 0.5s ease-out;
    height: 10vmin;
    padding-top: 0;
}

.bar-menu-container-2 * {
    transition: all 2s ease-out;
}

@media (max-width: 400px) {
    .bar-menu {
        padding: 2vmin 0;
    }
}

.shadow {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.nav-scrolled {
    --text: #333;
    --background: transparent;
    box-shadow: none;
    transition: all 0.5s ease-out;
}

.nav-scrolled .bar-menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-scrolled .bar-menu-container li {
    display: none;
}

.menu-icon {
    display: none;
}

.nav-scrolled .menu-icon {
    display: block;
}

@media (max-width: 768px) {
    .nav-scrolled {
        margin-top: 5vmin;
        width: 90%;
    }
}

.bar-menu li {
    /* width: 30%; */
    display: flex;
    justify-content: center;
}

.bar-menu li:first-of-type {
    justify-content: flex-start;
}

.bar-menu li:last-of-type {
    justify-content: flex-end;
}

.bar-menu a {
    text-transform: uppercase;
}

.logo {
    max-height: 7vh;
}

@media (max-width: 768px) {
    .logo {
        width: 60%;
    }
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
    font-family: 'ChronicaRegular';
    font-size: 18px;
    letter-spacing: 4px;
    color: #a6a7ac;
}

.main {
    min-height: 80vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome,
.recibe,
.pasos,
.espacio,
.foot {
    min-height: 100vh;
    max-height: 100vh;
}

.main,
.recibe,
.nosotros,
.servicios {
    background: #E6EAF5;
}

.pasos,
.faq,
.accordion-button {
    background: #c9d1de;
}

.fixed {
    position: fixed;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 3vmin;
}


.header h1 {
    width: 70%;
}

.header .w-100 {
    width: 100%;
}

@media (max-width: 768px) {
    .header h1 {
        width: 95%;
    }

    .welcome,
    .recibe,
    .pasos,
    .espacio,
    .foot,
    .faq,
    .nosotros,
    .servicios {
        min-height: 100vh;
        max-height: 100%;
    }
}

.btn {
    padding: 2.3vmin 5vmin;
    text-transform: uppercase;
    color: #fff;
    background: #2e47ae;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .btn {
        text-align: center;
    }
}

.t-u {
    text-transform: uppercase;
}

.fechas {
    color: #ffd900;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*  Sección main */
.main-container {
    display: flex;
    /* margin-top: 4rem; */
}

.img-main {
    width: 155rem;
    margin-left: -40vh;
    /* height: 200%; */
    /* height: 62vh; */
    /* margin: 0 3rem 0 1rem; */
}

.main-content {
    /* width: 99%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vmin;
    margin-left: -70vmin;
}

.main-content h2 {
    padding-top: 0;
}

.bottom-info {
    display: flex;
    padding-bottom: 3vmin;
    justify-content: center;
}

.bottom-info p {
    word-spacing: 10px;
}


@media (min-width: 1440px) {
    .main-content {
        margin-bottom: 10vmin;
    }
}

@media (max-width: 768px) {
    .img-main {
        width: 50%;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 50vh;
        text-align: center;
    }

    .main-container h2 {
        padding: 8vh 0;
    }

    .main-content {
        width: 100%;
    }

    .bottom-info {
        margin-top: 10vmin;
    }

    .bottom-info p {
        font-size: 2vmin;
    }

    .img-main {
        margin: 0;
        padding-bottom: 8vmin;
    }
}

/* Sección welcome */
.welcome,
.foot {
    background: url('../img/FONDO1_AUARE.png');
    background-size: cover;
}

.p-welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vmin;
}

.p-welcome p {
    width: 60%;
    margin-bottom: 20px;
    font-size: 2.2vmin;
    text-align: justify;
}

.w-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.btn-welcome {
    display: flex;
    margin: 3vmin 0;
    justify-content: center;
}

@media (max-width: 768px) {
    .p-welcome p {
        width: 80%;
        font-size: 3vmin;
        font-weight: bold;
    }
}

@media (max-width: 400px) {
    .p-welcome p {
        width: 100%;
        font-size: 4vmin;
    }
}

/* Sección productos -recibe- */
.productos {
    margin-top: 0vmin;
    display: flex;
    justify-content: space-between;
}

.producto {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    height: 45vh;
    /* width: 100%; */
}

.producto .img-2-pr {
    height: 47vh;
}

.producto p {
    font-family: 'ChronicaBook';
    font-size: 18px;
    line-height: 16px;
    text-align: justify;
    color: #0e2e8f;
}

@media (min-width: 1200px) {
    .productos {
        margin-top: 5vmin;
    }

    .producto p {
        font-size: 1.6vmin;
    }

    .large8 {
        font-size: 6vmin;
    }

    .proceso-img {
        padding-top: 10vmin;
    }
}


@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 90%;
        padding: 4vmin;
        text-align: center;
    }

    .producto img {
        height: 20vh;
    }
}

/* Sección de pasos */
.proceso-img {
    margin-top: 2vmin;
}


.proceso {
    display: flex;
    justify-content: space-between;
}

.paso {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
}

.paso p {
    margin-top: -70px;
}

@media (max-width: 768px) {
    .proceso-img {
        margin-top: 15vh;
    }

    .paso {
        width: 30%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .paso {
        width: 30%;
        text-align: center;
        font-size: 4vmin;
    }
}

.accordion-button.collapsed::after {
    background: url("../img/plus.svg");
}

.accordion-button:not(.collapsed)::after {
    background: url("../img/times.svg");
}

.accordion-body {
    color: #2e47ae;
}

/* Sección espacio */
.espacio {
    background: #0033d3;
}

.contenido-espacio {
    display: flex;
}

.noticias {
    margin-top: 5vmin;
    padding-right: 3vmin;
    border-right: 1px solid white;
    width: 40%;
}

.twitter {
    height: 70vh;
    overflow-y: scroll;
}

/* .twitter-timeline {
    overflow-y: scroll;
    max-height: 10vh;
} */

.tit-pr {
    display: flex;
    justify-content: space-between;
}

.mas-proyectos {
    width: 20%;
    margin-right: 15vmin;
    display: flex;
    align-items: center;
}

.flecha-derecha {
    margin-left: 5px;
}

.mas-proyectos a {
    color: #FFF;
    text-align: end;
}

.noticia {
    display: flex;
    padding: 1vmin 0;
    border-bottom: 1px solid white;
}

.noticia-img {
    width: 40%;
    padding-right: 1vmin;
}

.proyectos {
    margin-top: 5vmin;
    padding-bottom: 2vmin;
    padding-left: 1vmin;
    border-bottom: 1px solid white;
}

.proyecto-img {
    width: 95%;
}

.proyectos-youtube {
    width: 60%;
}

.youtube {
    padding: 1vmin;
}

.video {
    width: 80%;
}

.videos-youtube {
    width: 98%;
    display: flex;
    align-items: center;
}

.flecha-youtube {
    height: 5vh;
}

@media (max-width: 768px) {
    .contenido-espacio {
        flex-direction: column;
    }

    .noticias {
        width: 100%;
    }

    .videos-youtube {
        flex-direction: column;
        width: 100%;
    }

    .video {
        width: 100%;
    }
}
/* Sección foot */
.h-foot {
    justify-content: flex-end;
}

.foot-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-foot {
    margin: 10vmin 0;
    text-align: center;
    font-size: 5vmin;
    font-weight: 300;
}

.newsletter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt {
    border: none;
    padding: 15px;
    background: #e9e5e5;
    border-radius: 10px;
    width: 100%;
    margin: 1vmin;
}

@media (max-width: 768px) {
    .newsletter {
        width: 40%;
        text-align: center;
    }
}

/* Footer */
footer {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 3vmin 0;
    justify-content: space-around;
    margin-top: 8vmin;
}

.social, .info {
    font-family: 'ChronicaBook';
    font-size: 16px;
}

footer img {
    height: 40px;
}

@media (max-width: 400px) {
    footer {
        flex-direction: column;
        align-items: center;
        font-size: 3vmin;
        text-align: center;
        font-weight: bold;
    }

    footer div {
        padding: 4vmin;
    }

    footer ul {
        padding: 0;
        margin: 0;
    }
}

/* Página de FAQ */
.faq,
.nosotros,
.servicios {
    padding-top: 13vmin;
}

.faq-menu {
    background: #c9d1de;
}

.servicios-nosotros-menu {
    background: #E6EAF5;
}

.faq-title {
    margin-left: 8vmin;
    font-size: 18vmin;
    font-weight: bolder;
    color: white;
    margin-top: 12vmin;
    margin-bottom: vmin;
}

.btn-faq {
    padding-top: 6vmin;
    justify-content: flex-start;
    padding-left: 8vmin;
}

@media (max-width: 400px) {
    .faq-title {
        padding-top: 20vmin;
    }
}

.accordion-item,
.accordion-button:hover {
    background: #c9d1de;
}

.accordion-button {
    border-bottom: 1px solid #8d8d8d;

}

/* Nosotros */
.nosotros-servicio-title {
    font-size: 15vmin;
    margin-left: -10px;
}

.desc-nosotros {
    padding: 2vmin 0;
}

.quote,
.proposito,
.desc-nosotros {
    text-align: justify;
}

.nosotros-content {
    padding: 15vmin 10vmin;
}

@media (max-width: 768px) {
    .nosotros-servicio-title {
        font-size: 10vmin;
    }
}

@media (max-width: 400px) {
    .nosotros-servicio-title {
        margin-top: 10vmin;
    }
}

/* Servicios */
.servicio {
    display: flex;
    justify-content: space-between;
    margin: 5vmin 0;
    width: 100%;
}

.servicio p {
    width: 90%;
}

.info-servicio {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}

.descrip-servicio {
    line-height: 1.2;
    margin-top: 2vmin;
    margin-bottom: 3vmin;
}

.descrip-servicio,
.p-servicio {
    text-align: justify;
}

.p-servicio {
    font-family: 'ChronicaBook';
    font-size: 18px;
    line-height: 22px;
}

.servicios-img {
    /* width: 40%; */
    height: 50vh;
}

.servicios-img-2{
    /* width: 100%; */
    height: 53vh;
}

.servicios-img, .servicios-img-2 {
    margin-left: 6vmin;
}

.lista-servicios {
    margin-top: 6vmin;
}

@media (max-width: 768px) {
    .servicio {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .servicio p {
        width: 100%;
    }

    .servicios-img {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .nosotros-servicio-title {
        text-align: center;
    }

    .servicio {
        flex-direction: column;
        margin: 15vmin 0;
    }

    .servicio p,
    .servicio h2 {
        text-align: center;
    }

    .servicio h2 {
        font-size: 6vmin;
    }

    .servicios-img {
        width: 60%;
    }
}

.lista-consultoria {
    padding: 0;
    list-style: square;
    margin-left: 15px;
    margin-top: -18px;
}

/* Menú */
.active {
    transition: all 0.8s ease-out;
    z-index: 10000;
    padding: 7vmin 15vmin;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: #c9d1de;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-menu {
    transition: all 0.8s ease-out;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10vmin;
}

.close {
    /* display: none; */
    width: 0;
    height: 0;
    transition: all 0.8s ease-out;
}

.close * {
    display: none;
}

.close-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cerrar {
    font-size: 8vmin;
}

.pointer:hover {
    cursor: pointer;
}

.consultoria {
    display: flex;
    justify-content: center;
    margin-top: 10vmin;
}

.airtable-embed {
    width: 500px;
    background: transparent;
}

.form-consultoria {
    background: transparent;
    border: 1px solid #ccc;
}

.newsletter {
    width: 30%;
}
